@model PandaApp.Models.EditViewModel
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>

<h3>
    @foreach (var item in Model.Lines)
    {
        Html.RenderPartial("EditPV", item);
    }
</h3>
<script src="~/Scripts/Pandascripts.js"></script>