@model PandaApp.Models.EditViewModel
@{
    ViewBag.Title = "Edit";
}
<h2>Title: @Model.Title</h2>
<h4>Language: @Model.Language</h4>
<hr />

@foreach (var item in Model.Lines)
{
    Html.RenderPartial("EditPV", item);
}
<script src="~/Scripts/EditScript.js"></script>