@{
    ViewBag.Title = "404 - Not Found";
}

<h2>Upload Error: </h2>

<p>
        Whoops! Looks like there was something wrong with the file you tried to upload.
</p>

<p>
        The most likely reason for the redirect to this sectin is that the file extension did not match our expectaions.
</p>

<p>
        Please check that the file you want to upload is an .srt or a .txt file.
</p>

<p>
        If the file you are trying to upload does indeed have the extension .srt or .txt your subtitle file 
        probably does not comply with the srt standard structure.
        Check <a href="http://en.wikipedia.org/wiki/SubRip">here</a> to see how the structure is.
</p>

<p>
        Thank you for being active and uploading :) 
</p>