@{
    ViewBag.Title = "404 - Not Found";
}

<h2>Upload Error: </h2>

<p>
        Whoops! Looks like there was something wrong with the file you tried to upload.
</p>

<p>
        The most likely reason for the redirect to this site is that the file extension did not match our expectaions.
</p>

<p>
        Please check that the file you want to upload is an .srt or a .txt file.
</p>

<p>
        Thank you for being active and uploading :) 
</p>