@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>
<p><strong>Frequently asked questions</strong></p>

<hr />


<h3>How can I search for subtitles to download?</h3>
<p>
    To search for subtitles you need to either click on "panda" or "browse" located at the top
    of your page. Doing so will take you to the homepage, there near the top you will see a
    search engine where you can input the name of the movie (e.g. "Shawshank Redemption") or 
    episode (e.g. "IT Crowd S01E01") along with your language of choice. After this you can click
    on search to get a list of subtitles matching your needs. All that is left to do is click
    on the download button on the list and get your subtitle.
</p>

<h3>I want to upload my own subtitles, how can I register to the site?</h3>
<p>
    To register you need to click "Sign in" at the top of your page. From there to the right you
    will find a registration form. On filling in all the fields with you desired username, password
    and e-mail address you will be signed-in to a registered account.
</p>

<h3>I can't find the subtitle I need, how can I submit a request?</h3>
<p>
    If you press the "request" button at the top of the page you will be taken to the requests
    page. From there you can search for requests submitted by other users or 
    click the "Create Request" button to take you to a form that will allow you to make a request.
</p>

<h3>How do I upload my own subtitles on the site for others to use?</h3>
<p>
    To place your own subtitle unto the site, you need to click the upload button at the top
    of your page. From there you can input the name of your subtitle (please mark TV shows with
    a season and episode, e.g. "IT Crowd S01E01"), click browse and select the subtitle on your
    computer that you'd like to upload. Finally, upon pressing the "Upload" button your subtitle
    will be uploaded to the website given that it has the correct file extension (for more info on
    the .srt format, <a href="http://en.wikipedia.org/wiki/SubRip">see here.</a> )
</p>

