
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>

<p><strong>Commonly asked questions</strong></p>

<h3>Hvernig get ég leitað að textum sem ég vill niðurhala?</h3
<p>
    Til þess að geta fundið texta þarf maður að fara í 'Browse' hlekkinn sem liggur á 
    val línunni efst ásíðunni. Þegar þangað er komið getur maður skrifað það sem maður
    man úr nafni myndar eða þáttar og getur svo einnig valið það tungumál sem maður vill finna.
    Svo ýtir maður á 'Search' takkann og þá er það komið.
</p>

<h3>Hvernig get ég skráð mig inn á síðuna?</h3>
<p>
    Til þess að skrá sig inn þarf maður að ýta á 'Sign in' hlekkinn og þar hefur maður um tvent að velja. 
    Ef þú átt aðgang, þá getur þú skrifað notanda nafnið þigg og lykilorð í dálkana vinstra megin á síðunni.
    Ef þú átt ekki aðgang, þá getur þú skrifað notandanafn og tölvupóstfangið þitt í dálkana til hægri 
    auk þess að skrifa ákjósanlegt lykilorð tvisvar sinnum.
</p>

<h3>Hvernig get ég búið til 'Request'?</h3>
<p>
    Ef þú ýtir á 'Request' hlekkinn á val línunni, þá muntu sjá öll nýlegustu 'Requestin' 
    auk þess að sjá takka þar neðst sem býður upp á það að búa til nýtt 'Request'. Þegar þangað er komið þarf
    að gefa til um nafn myndefnis sem á á þýða, auk tungumál texta sem þú óskar eftir. Einnig er hægt að gefa til um 'Link'
    sem myndi beina mögulegum þýðendum að myndefninu á netinu.
</p

<h3>Hvernig gett ég sett inn nýjan texta inn á síðuna?</h3>
<p>
    Til þess að senda inn nýjan texta, þarf að ýta á 'Upload' hlekkinn. Þar þarft þú að gefa til um nafn myndefnis og tungumál texta.
    Auk þess þarftu að velja textaskrána sem þú ætlar þér að senda inn á síðuna.
</p>

<h3>Ef ég hef einhverjar spurningar, er einhver sérstakur staður þar sem ég get fundið svör við þeim mest spurðu spurningum?</h3>
<p>
    Mikið rétt. Það er einmitt staður á síðunni sem er sérstaklega hannaður til að svara slíkum spurningum. Til að finna hann þarf maður að 
    ýta á 'FAQ' hlekkinn sem má finna lengst til hægri á val línunni. Ef ýtt er á hann er hægt að finna svör við hinum helstu spurningum sem 
    fólk kann að spurja.
</p>
