@{
    ViewBag.Title = "Home Page";
}
 <!-- TODO! some search action-->

<!-- Search-->
<div>
    <form class="row text-center" method="get" action="http://www.google.com">
        <input type="text" class="form-control" id="input" name="q" size="21" maxlength="120" placeholder="Subtitle search">
        <input type="button" class="btn btn-primary" value="Search">
        <select class="form-control" id="select" name="language">
            <option value="all" selected>Language</option>
            <option value="is">Icelandic</option>
            <option value="en">English</option>
        </select>
    </form>
</div>

<!-- search end-->

<div class="row">
    <!-- div to the left -->
    <div class="col-xs-6">
        <h1>Recently added</h1>
       
        <table class="table table-condensed" width="647">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Language</th>
                    <th>Submiter</th>
                </tr>
            </thead>
            <tbody>  <!-- TODO! some voodoo to get info from nonexisting database-->
                <tr>
                    <td>1</td>
                    <td>Game of thrones S04E04</td>
                    <td>Icelandic</td>
                    <td>thomas@yahoo.com</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- div to the right -->
    <div class="col-xs-6">
        <h1>Most popular requests</h1>
        <table class="table table-condensed" width="647">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Language</th>
                    <th>Upvotes</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO! some voodoo to get info from nonexisting database-->
                <tr>
                    <td>1</td>
                    <td>Spaugstofan S04E04</td>
                    <td>English</td>
                    <td>90000</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>