@model IEnumerable<PandaApp.Models.Request>

@{
    ViewBag.Title = "Requests";
}

<!-- TODO! some search action-->
<!-- Search-->
<div>
    <form class="row text-center" method="get" action="http://www.google.com">
        <input type="text" class="form-control" id="input" name="q" size="21" maxlength="120" placeholder="Request search">

        <select class="form-control" id="select" name="language">
            <option value="all" selected>Language</option>
            <option value="is">Icelandic</option>
            <option value="en">English</option>
        </select>

        <input type="submit" class="btn btn-primary" value="Search">
    </form>
</div>
<!-- search end-->

<h2>Requests</h2>

<table>
    <caption>Student List</caption>
    <thead>
        <tr>
            <th>Name:</th>
            <th>Year:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Language, "Name", new { id = item.Id })
                </td>
                <td>
                    @item.Language
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>@Html.ActionLink("Create Request", "NewRequest")</h3>