
@{
    ViewBag.Title = "Requests";
}

<!-- TODO! some search action-->
<!-- Search-->
<div>
    <form class="row text-center" method="get" action="http://www.google.com">
        <input type="text" class="textinput" name="q" size="21" maxlength="120" placeholder="Request search">
        <input type="submit" value="search" class="button">
        <select name="language">
            <option value="all" selected>Language</option>
            <option value="is">Icelandic</option>
            <option value="en">English</option>
        </select>
    </form>
</div>
<!-- search end-->

<!--komment fyrir alla-->



<h2>Requests</h2>

<h3>@Html.ActionLink("Create Request", "NewRequest")</h3>