
@{
    ViewBag.Title = "Requests";
}

<!-- TODO! some search action-->
<!-- Search-->
<div>
    <form class="row text-center" method="get" action="http://www.google.com">
        <input type="text" class="form-control" id="input" name="q" size="21" maxlength="120" placeholder="Request search">

        <select class="form-control" id="select" name="language">
            <option value="all" selected>Language</option>
            <option value="is">Icelandic</option>
            <option value="en">English</option>
        </select>

        <input type="submit" class="btn btn-primary" value="Search">
    </form>
</div>
<!-- search end-->

<h2>Requests</h2>

<h3>@Html.ActionLink("Create Request", "NewRequest")</h3>