h1
{
    text-align: center;
    text-decoration: none;
}

h1 a:hover
{
    text-decoration: none;
}

.buttons > form
{
    display: inline;
}

.page-nav
{
    text-align: center;
}

.navbar-nav 
{
    padding-left: 0;
    background-color: #eb6864;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar-nav .btn
{
    padding: 8px 30px;
}

.navbar-nav li a
{
    text-decoration: none;
    color: white;
}

.navbar-right
{
    float: none !important;
}

.footer-left
{
    float: left;
}

.footer-left a:hover
{
    text-decoration: none;
}


.footer-right {
    color: #eb6864;
    float: right;
}

.edit_msg 
{
    margin-left: 0.3em;
    display: none;
    font-size: medium;
}

label
{
    font-size: medium;
}

form > #Language
{
    width: 135px;
}

.welcome
{
    font-size: 14px;
    float: right;
    padding-right: 20px;
}

#margin_1
{
    padding-right: 2em;
    padding-bottom: 10px;
}

.downloadbutton_edit
{
    margin-top: 2em;
}

.col-md-6 > form > .col-md-2
{
    width: 120px;
}